@model DiplomaWork1.Models.Requests.CreateRequesModel

@{
    ViewData["Title"] = "Создать заявку";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h4>Создать заявку</h4>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Create" asp-controller="Requests" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserEmail" class="control-label"></label>
                    <input asp-for="UserEmail" class="form-control" />
                    <span asp-validation-for="UserEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserPhone" class="control-label"></label>
                    <input asp-for="UserPhone" class="form-control" />
                    <span asp-validation-for="UserPhone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" asp-items="Model.Categories" class="custom-select">
                        <option value="">Выберите категорию</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group" id="service_container">
                    <label for="ServiceId" class="control-label">Услуга</label>
                    <select asp-for="ServiceId" class="custom-select">
                        <option value="">Выберите категорию</option>
                    </select>
                    <span asp-validation-for="ServiceId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Создать" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(function () {
    
            $('#CategoryId').change(function()
            {
                var id = $(this).val();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetServices")/' + id,
                    success: function (data) {
                        $('#ServiceId').html(data);
                    }
                });
            });
        })
    </script>
}
